<div class="nav">
  <div style="background: transparent;" class="nav-wrapper">
  <ul>
    <li><a href="/">Home</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Montserrat</a>
      <div class="dropdown-content">
        <a href="https://anothergithubber.github.io/sub-path/">font-family</a>
        <a href="/long-page/">Homer</a>
        <a href="/goggles/">Goggles</a>
        <a href="/git-creative/">Create</a>
        <a href="/potato/">Potato</a>
        <a href="/git-api/">git-api</a>
        <a href="/misc/">Misc</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">More</a>
      <div class="dropdown-content">
        <a href="/crispy-chainsaw/" style="color: green;">Project </a>
        <a href="/super-duper-disco/" style="color: green;">super-duper-disco </a>
        <a href="/solid-octo-engine/" style="color: green;">solid-octo-engine </a>
        <a href="/ubiquitous-broccoli/" style="color: blue;">ubiquitous-broccoli </a>
        <a href="/animated-eureka/" style="color: blue;">animated-eureka </a>
        <a href="/psychic-octo-broccoli/" style="color: blue;">psychic-octo-broccoli </a>
        <a href="/congenial-giggle/" style="color: blue;">congenial-giggle </a>
        <a href="/fantastic-goggles/" style="color: blue;">fantastic-goggles </a>
        <a href="/probable-chainsaw/" style="color: blue;">probable-chainsaw </a>
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Template</a>
      <div class="dropdown-content">
        <a href="/test-cctemplate/">Direct child</a>
        <a href="/clockwork-banana/">Parent</a>
        <a href="/clockwork-grape/">Indirect child</a>
      </div>
    </li>    
    <li class="right-nav"><a href="https://github.com/anothergithubber">GitHub </a></li>
  </ul>
  </div>
</div>
