<div style="width: 900px; margin: auto; background: #000;">
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/sub-path/">Montserrat</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">More</a>
    <div class="dropdown-content">
      <a href="/long-page/">Homer</a>
      <a href="/goggles/">Goggles</a>
      <a href="/git-creative/">Create</a>
      <a href="/potato/">Potato</a>
      <a href="/crispy-chainsaw/">Project </a>
    </div>
  </li>
  <li class="right-nav"><a href="https://github.com/anothergithubber/anothergithubber.github.io">GitHub </a></li>
</ul>
</div>
