.right-nav {
 float: left;
}

.site-footer-social {
 float: right;
}

@media screen and (min-width: 380px){
    .right-nav {
        float: right;
    }
}

@media screen and (min-width: 410px){
    .site-footer-social {
        float: left;
    }
}

