---
---

.right-nav {
 float: right;
}

.site-footer-social {
 float: right;
}

@media (min-width: 380px){
    .right-nav {
        visibility: hidden;
    }
}

@media (min-width: 410px){
    .site-footer-social {
        visibility: hidden;
    }
}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
    .right-nav {
        visibility: hidden;
    }
}
